In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is stored and managed in a way that allows efficient access, retrieval, and
modification. Databases are commonly used in applications such as web and mobile applications, business systems, and scientific
research.

SQL (Structured Query Language) databases are relational databases that use SQL to manipulate and query data. They are based on
a table structure, where data is organized into rows and columns. SQL databases are best suited for structured data, such as
financial information or inventory management systems, and are characterized by their ability to enforce data integrity and 
relationships between tables. Some popular examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases are non-relational databases that do not use a table structure. They are designed to handle
unstructured data, such as social media posts or sensor data, and are known for their scalability and flexibility. NoSQL 
databases are schema-less, which means that they do not require a predefined data model. Instead, they allow for dynamic schema
changes as data changes over time. Some popular examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language, which is a set of SQL statements used to define and manipulate the structure of a 
database. DDL statements are used to create, modify, and delete database objects, such as tables, indexes, and views.

Here are some examples of commonly used DDL statements:

CREATE: The CREATE statement is used to create a new database object, such as a table, view, or index. For example, the 
    following SQL statement creates a new table called "customers" with columns for customer ID, name, and email address:
 CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100));
       
        
DROP: The DROP statement is used to delete a database object, such as a table or view. For example, the following SQL statement
    deletes the "customers" table created in the previous example:
                
DROP TABLE customers;

ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table or column. For 

example, the following SQL statement adds a new column called "phone_number" to the "customers" table:

    ALTER TABLE customers ADD phone_number VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all data from a table while preserving the table structure. For example, the
    following SQL statement deletes all rows from the "customers" table:
        TRUNCATE TABLE customers;

        
{ In summary, DDL statements are used to define and manipulate the structure of a database. The CREATE statement is used
to create new database objects, the DROP statement is used to delete database objects, the ALTER statement is used to 
modify the structure of existing objects, and the TRUNCATE statement is used to delete all data from a table while
preserving the table structure.}

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language, which is a set of SQL statements used to modify data in a database. DML statements
are used to insert, update, and delete data from database tables.

Here are some examples of commonly used DML statements:

1. INSERT: The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new
    row into the "customers" table:

INSERT INTO customers (customer_id, name, email) VALUES (1, 'John Smith', 'john.smith@example.com');
This statement specifies the name of the table, the names of the columns to insert data into, and the values to insert.

2. UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following SQL statement updates 
    the email address for the customer with ID 1:
        
UPDATE customers SET email = 'john.smith.updated@example.com' WHERE customer_id = 1;
This statement specifies the name of the table to update, the column to modify, the new value to set, and the condition to 
identify which rows to update.

3. DELETE: The DELETE statement is used to delete data from a table. For example, the following SQL statement deletes the row 
    for the customer with ID 1:

DELETE FROM customers WHERE customer_id = 1;
This statement specifies the name of the table to delete from and the condition to identify which rows to delete.

{In summary, DML statements are used to modify data in a database. The INSERT statement is used to insert new data into a table,
the UPDATE statement is used to modify existing data, and the DELETE statement is used to delete data from a table.}

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language, which is a sublanguage of SQL (Structured Query Language) used to retrieve data from a 
relational database. DQL allows users to retrieve data based on specific criteria and manipulate that data as needed.

The most commonly used DQL command is SELECT. The SELECT statement is used to retrieve data from one or more tables in a
database. Here's an example of a SELECT statement:

SELECT * FROM customers WHERE age > 30;


This statement retrieves all columns (indicated by the asterisk) from the "customers" table where the "age" column is greater 
than 30. The result would be a list of all customers who are over 30 years old.

The SELECT statement can be customized to retrieve specific columns or aggregate data. Here's an example that retrieves only
the customer names and the total amount they have spent:

SELECT name, SUM(total_spent) AS total_amount FROM customers GROUP BY name;

This statement selects the "name" column and the total amount spent (which is calculated using the SUM function and labeled as
"total_amount" using the AS keyword) from the "customers" table. The data is then grouped by name using the GROUP BY keyword,
so that each customer's total amount spent is listed separately.

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
A primary key is a column or group of columns that uniquely identifies each row in a table. It is a constraint that enforces 
the uniqueness and the non-nullability of the values in a table. A table can have only one primary key. Primary keys are used
to ensure that each row in a table can be uniquely identified, which is essential for data integrity and to establish 
relationships between tables.

Foreign Key:
A foreign key is a column or group of columns in a table that refers to the primary key of another table. It establishes a link 
between two tables and is used to enforce referential integrity. The foreign key ensures that the values in the referencing 
table (also known as the child table) correspond to values in the referenced table (also known as the parent table).

For example, if we have two tables, one for customers and another for orders, the order table might have a foreign key that 
refers to the primary key of the customer table. This would allow us to link orders to specific customers and ensure that
we can retrieve all orders associated with a particular customer.

In summary, the primary key is used to uniquely identify each row in a table, while the foreign key is used to establish a 
relationship between two tables by referring to the primary key of another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
To connect to a MySQL database using Python, we need to install the mysql-connector-python module. Here is an example code to
connect MySQL to Python:

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM tablename")

# Fetch the results
result = mycursor.fetchall()

# Print the results
for row in result:
  print(row)
In the above code, we first import the mysql.connector module and then use it to connect to the database by providing the 
necessary details such as hostname, username, password, and database name. Once we have successfully connected to the database,
we create a cursor object using the cursor() method. The cursor object allows us to execute SQL queries and fetch results.

The execute() method of the cursor object is used to execute a SQL query. We can pass the SQL query as a string argument to 
this method. The execute() method returns the number of rows affected by the query. In the example code, we are selecting all
the rows from a table using the SQL query SELECT * FROM tablename.

After executing the query, we use the fetchall() method of the cursor object to fetch all the results. The fetchall() method 
returns a list of tuples, where each tuple represents a row from the table. Finally, we iterate over the results and print each
row.

In summary, the cursor() method creates a cursor object that allows us to execute SQL queries, while the execute() method is
used to execute a SQL query.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

1.FROM clause: specifies the table or tables from which to retrieve data.

2.WHERE clause: filters the rows from the tables specified in the FROM clause based on the specified conditions.

3.GROUP BY clause: groups the rows that have the same values in the specified columns.

4.HAVING clause: filters the groups produced by the GROUP BY clause based on the specified conditions.

5.SELECT clause: selects the columns to be retrieved from the tables and can also perform calculations and transformations on 
    the data.

6.DISTINCT clause: removes duplicates from the result set.

7.ORDER BY clause: sorts the rows in the result set based on the specified columns and sort direction.

8.LIMIT/OFFSET clause: limits the number of rows returned and allows for pagination of the result set.

It's important to note that not all SQL queries will use every clause, and some clauses may be combined or omitted depending 
on the specific query being executed.